* {
  float: left;
}
body {
  background-image: linear-gradient(
    to right top,
    #87d16b,
    #3bb882,
    #009b8e,
    #007c88,
    #265d71,
    #36566e,
    #434e67,
    #4b475d,
    #67506c,
    #865773,
    #a55f73,
    #bf6b6b
  );
}
.user-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.user-container {
  display: flex;
  gap: 26px;
  padding: 15px;
  background: white;
  margin: 30px;
  border-radius: 10px;
  min-width: 450px;
  transition: 0.2s all;
}
.user-container:hover {
  transform: scale(1.1);
  color: red;
}

.image {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}
.text {
  font-family: "Roboto Mono", monospace;
  /*   font-weight:3000; */
}
