body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.container {
  width: 500px;
  height: 300px;

  text-align: center;
}
h1 {
  margin: 30px;
  font-size: 10rem;
}

h2 {
  font-size: 5rem;
  animation: fadeIn 3s;
}

.saf {
  background-color: #ff9933;
  padding: 10px 120px;
}
.white {
  background-color: white;
  margin: 10px 0;
}

.green {
  background-color: #138808;
  padding: 0 168px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
